@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat:wght@300&display=swap');

@font-face {
    font-family: "droid";
    src: url(fontes/idroid.otf) format('truetype');
    font-style: normal;
}

:root {
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-titulo: 'droid';
    --font-texto: 'Bebas Neue', sans-serif;    
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #84E1AD;
    font-family: var(--font-texto);
}
 
a.externo::after {
    content: "\1f517";
}

header {
    background-image: linear-gradient(360deg, #1a5c38, #299156, #3ACF7C);
    color: white;
    text-align: center;
    text-shadow: 2px 1px 2px black;
    padding: 10px;
    font-family: var(--fonte-padrao);
}
header > h1 {
    margin: 20px 5px 20px 5px;    
}

header > h2 {
    margin-bottom: 20px;
}

nav > a {
    padding: 5px;
    text-align: end;
    color: white; 
    text-decoration: none;
    margin: 10px;
    
}
nav > a:hover {
    background-color: black;
    color: #21f10e;
    border-radius: 3px 1px;
    transition-duration: 0.6s;
}

main {
    background-color: white;
    padding: 20px;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
}

main p{
    margin: 12px 0px;
    text-indent: 20px;
    text-align: justify;
    line-height: 1.3em;
 }

main a {
    text-decoration: underline;
    color: #1a5c38;
    background-color: #84E1AD;
    padding: 2px 6px;
}

main a:hover{
    background-color: #1A5C38;
    color: #84E1AD;
    transition-duration: 0.6s;
}

img {
    display: block;
    margin: auto;
}

article > h2 {
    color: #1a5c38;
    background-image: linear-gradient(90deg, #C5EBD6, transparent);
    font-family:var(--fonte-titulo);
}
article > h3 {
    color: #1a5c38;
    background-image: linear-gradient(90deg, #C5EBD6, transparent);
    font-family:var(--fonte-titulo) ;
}
section {
    background-color: #1A5C38;
    padding: 5px;
    margin: 0px -20px 10px -20px;
    padding-bottom: 50%;
    position: relative;
}

section > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #C5EBD6;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 5px black;
}
aside > h2 {
    background-color: #299156;
    color: white;
    text-shadow: 2px 1px 1px black;
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    margin: -5px -5px 0px -5px;
    font-weight: normal;
    
}

aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: #1A5C38;
    color: white;
    text-align: center;
    margin: auto;
}

footer > a{
    text-decoration: none;
    color: #3ACF7C;
    font-size: 0.8em;
    padding: 5px;
    margin: 10px 0px;
}
footer a:hover {
    background-color: black;
    color: #21f10e;
    transition-duration: 0.6s;
    margin: 5px 1px;
    padding: 2px 5px;
}